<!--
   File name: _header.ejs
   Name: Kunj Alkeshbhai Choksi
   StudentId: 301200718
   Date: 21 October, 2021
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunj Choksi</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body class="text-center bg-primary">
    <form class="form-signin" autocomplete="off" method="POST">
        <img class="mb-4" src="/images/logo1.png" >
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

        <label for="inputEmail" class="sr-only">Email/Username</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control mb-lg-5 placeholder="Password">

        <button class="btn btn-lg btn-green btn-block" type="submit">Get Login</button>
    </form>
</body>
</html>