<!--
   File name: error.ejs
   Name: Kunj Alkeshbhai Choksi
   StudentId: 301200718
   Date: 29 September, 2021
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
