<% include ../partials/_header.ejs %>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/about-me.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Kunj Choksi</h1>
            <p class="lead">Hey amigos... <br> A tech enthusiastic is ready on your demand. :)
                <br> I am a Software Developer with more than three year of Industry experience. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" target="_blank" href="https://www.dropbox.com/s/x5pofgfbueoo753/Resume.pdf?dl=0">
                    Resume <i style="margin: 0 0 0 10px" class="fas fa-file-contract"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Hire Me On UpWork</h1>
            <p class="lead">
                I am open for your amazing work. Check out my UpWork profile.
                <br> I am available at minimal cost with maximum output </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-green btn-lg px-4 me-md-2" target="_blank" href="https://www.upwork.com/freelancers/~01ca319d4a9768e54e?viewMode=1">
                    UpWork <i style="margin: 0 0 0 10px" class="fas fa-external-link-square-alt"></i>
                </a>
            </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/upwork-profile.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<% include ../partials/_footer.ejs %>