<!--
   File name: services.ejs
   Name: Kunj Alkeshbhai Choksi
   StudentId: 301200718
   Date: 29 September, 2021
-->
<!-- Page Header -->
<% include ../partials/_header.ejs %>

<!-- Service Box -->
<div class="container px-4 py-5" id="hanging-icons" style="padding-top: 120px !important;">
    <h2 class="pb-2 border-bottom">My Service</h2>
    <!-- Service List -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 flex-align-center service-list">
        <!-- Service Item 1 -->
        <div class="col d-flex align-items-start service-item">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="/images/icons/world-wide-web.png" alt="">
            </div>

            <div>
                <h2>Business Website Building</h2>
                <p>An elegant website in just 24 hours for your business to get started.</p>
                <a href="#" class="btn btn-outline-secondary">Get Started</a>
            </div>
        </div>
        <!-- Service Item 2 -->
        <div class="col d-flex align-items-start service-item">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="/images/icons/smartphone.png" alt="">
            </div>
            <div>
                <h2>Hybrid Mobile Application</h2>
                <p>Single cost!! Duel platform. Get your app ready for Android & iOS</p>
                <a href="#" class="btn btn-outline-secondary">Get Started</a>
            </div>
        </div>
        <!-- Service Item 3 -->
        <div class="col d-flex align-items-start service-item">
            <div class="icon-square bg-light text-dark flex-shrink-0">
                <img src="/images/icons/web-hosting.png" alt="">
            </div>
            <div>
                <h2>One Shot Web <br>Hosting</h2>
                <p>24 X 7 up time for web hosting. Superior performance and load times.</p>
                <a href="#" class="btn btn-outline-secondary">Get Started</a>
            </div>
        </div>
        <!-- Service Item 4 -->
        <div class="col d-flex align-items-start service-item">
            <div class="icon-square bg-light text-dark flex-shrink-0" style="margin-right: 10px">
                <img src="/images/icons/seo.png" height="60px" width="60px" alt="">
            </div>
            <div>
                <h2>SEO Content & <br> Marketing </h2>
                <p>Make your site visible on One search. Personalised Google adversities and SEO</p>
                <a href="#" class="btn btn-outline-secondary">Get Started</a>
            </div>
        </div>
    </div>
</div>

<!-- Page Footer -->
<% include ../partials/_footer.ejs %>