<!--
   File name: about-me.ejs
   Name: Kunj Alkeshbhai Choksi
   StudentId: 301200718
   Date: 22 October, 2021
-->
<!-- Page Header -->
<% include ../partials/_header.ejs %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row justify-content-center g-5 py-5">
        <div class="col-md-6 text-center">
            <h2 class="heading-section">Business Contacts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                <% for(let count = 0; count < Contacts.length; count++) { %>
                    <a href="#" class="list-group-item list-group-item-action contact-list">
                        <div class="contact-name">
                            <%= Contacts[count].name %>
                        </div>
                        <div class="actions">
                            <span class="link-info">Edit</span>
                            <span class="link-danger">Delete</span>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- Page Footer -->
<% include ../partials/_footer.ejs %>